.card-heading {
    border: 1px solid #000;
}

.card {
    border: none;
}

.card-footer {
    background-color: transparent;
    border: none;
}

.card-img-top {
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 767px) {
    .card-img-top {
        height: 35vh;
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .card-img-top {
        height: 30vh;
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    .card-img-top {
        height: 25vh;
        width: 100%;
    }
}

.card-link {
    background-color: white;
    color: inherit;
    border: 1px solid #000;
}

.card-link:hover {
    background-color: black;
    color: white;
}

.progress {
    height: 5px;
}

.form-control {
    border-radius: 0;
}

.project-completed-overlay {
    background-color: rgba(100, 100, 100, 0.1);
    padding: 10px;
}

.file-uploader {
    display: none;
}